/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#root {
  margin-left: 6rem;
}

.panel {
  height: 716px;
}

.artoo, .messages, .channels {
  height: 100vh;
}

.artooform, .messageform, .channelform {
  height: 100vh;
  position: relative;
}

.searchrow {
  width: 50%;
  margin: auto;
}

.navbar-nav {
  color: 'black'
}

#root {
  max-width: 100%;
  overflow-x: hidden;
}

#channelslist {
  max-width: 100%;
  overflow-x: hidden;
}

.explorepanel {
  height: 25rem
}

#explorefont {
  font-size: 500%;
}

.newsimage {
  height: 20rem; 
  width: 20rem;
}

@media only screen and (max-width: 88em) {
  .newsimage {
    height: 16.5rem; 
    width: 16.5rem;
  }
}

@media only screen and (max-width: 75em) {
  .newsimage {
    height: 18.5rem; 
    width: 18.5rem;
  }
}

@media only screen and (max-width: 65em) {
  .newsimage {
    height: 18.5rem; 
    width: 18.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .newsimage {
    height: 18rem; 
    width: 18rem;
  }
}

@media only screen and (max-width: 62em) {
  .newsimage {
    height: 14.5rem; 
    width: 14.5rem;
  }
}

@media only screen and (max-width: 48em) {
  .newsimage {
    height: 17.5rem; 
    width: 17.5rem;
  }
}

@media only screen and (max-width: 32em) {
  .newsimage {
    height: 15.5rem; 
    width: 15.5rem;
  }
  
  .channelname {
    margin-top: .3rem;
    margin-left: 2rem;
    /* margin-bottom: 2rem; */
  }
}

@media only screen and (max-width: 27em) {
  .newsimage {
    height: 14rem; 
    width: 14rem;
  }
}

@media only screen and (max-width: 26rem) {
  .newsimage {
    height: 13rem; 
    width: 13rem;
  }
}

@media only screen and (max-width: 25rem) {
  .newsimage {
    height: 12rem; 
    width: 12rem;
  }
}

@media only screen and (max-width: 62em) {
  .panel {
    height: 350px;
  }
  .artoo, .messages {
    height: 350px;
  }
  .searchrow {
    width: 100%;
  }
  .sidebaroverlay {
    padding-top: 1rem;
  }
  .explorepanel {
    height: 12rem;
  }
  #explorefont {
    font-size: 200%;
  }
}

@media only screen and (max-width: 49em) {
  .hidden { 
    display: none;
  }
  #root {
    margin-left: 0rem;
  }
}