.profile-dropdown-container {
    position: absolute;
    width: 240px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(27, 23, 23, 0.7);
    top: 57px;
    right: 0;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: auto;
    }
  
    .profile-options {
      height: 240px;
      display: flex;
      flex-direction: column;
    }
  
    p {
      margin-top: auto;
    }
  }
  