# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.development

aspnetcore-https.js
aspnetcore-react.js
package-lock.json
serviceWorkerRegistration.js
service-worker.js
reportWebVitals.js
setupProxy.js

appsettings.Development.json
appsettings.json